section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0f0f0f;
}
.intro h1,
.outro h1 {
  font-size: 100px;
}
.spotlight-intro-text-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
}
.spotlight-intro-text {
  flex: 1;
  position: relative;
  will-change: transform;
}
.spotlight-intro-text:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}
.spotlight-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0);
  will-change: transform;
}
.spotlight-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
  will-change: transform;
}
.spotlight-titles-container {
  --before-opacity: 0;
  --after-opacity: 0;
  position: absolute;
  top: 0;
  left: 15vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(
    50svh 0px,
    0px 50%,
    50svh 100%,
    100% calc(100% + 100svh),
    100% - 100svh
  );
}
.spotlight-titles-container::after,
.spotlight-titles-container::before {
  content: "";
  position: absolute;
  width: 100svh;
  height: 2.5px;
  background-color: #fff;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.spotlight-titles-container::before {
  top: 0;
  left: 0;
  opacity: var(--before-opacity);
  transform: rotate(-45deg) translate(-7rem);
}
.spotlight-titles-container::after {
  bottom: 0;
  left: 0;
  opacity: var(--after-opacity);
  transform: rotate(45deg) translate(-7rem);
}
.spotlight-titles {
  position: relative;
  left: 15%;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  transform: translateY(100%);
  z-index: 2;
}
.spotlight-titles h1 {
  color: #fff;
  opacity: 0.25;
  transition: opacity 0.3s ease;
  font-size: 64px;
  font-weight: 400;
}
.spotlight-titles h1:nth-child(1) {
  opacity: 1;
}
.spotlight-images {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  min-width: 300px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.spotlight-img {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
}
.spotlight-header {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  transform: opacity 0.3s ease;
  z-index: 2;
  opacity: 0;
}
